<!-- 
Name: Arthur Milner ID: 21035478
E-Mail: arthur2.milner@live.uwe.ac.uk
-->
{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="login-signup">
        <h2>Change Password</h2>
        <form method="post">
            <p>Enter Your E-Mail:</p>
            <input type="email" name="forgotpass-email" placeholder="Enter e-mail..." required>
            <p>Enter New Password (minimum 5 characters):</p>
            <input type="password" name="forgotpass-password" placeholder="Enter new password..." minlength="5" required>
            <br>
            <input type="submit" name="forgotpass-submit" value="Change Password" style="margin-top: 3%;">
        </form>
    </div>
{% endblock %}
